body,
#root {
  height: 100vh;
  background: rgb(54, 81, 105);
  background: linear-gradient(
    90deg,
    rgba(54, 81, 105, 1) 0%,
    rgba(0, 255, 244, 1) 100%
  );
  overflow-x: hidden;
}

.navbar-dark{
  background-color: #364f6b;
}
.form{
  background-color: #fc5185;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.042),
  0 12.5px 10px rgba(0, 0, 0, 0.055), 0 30.1px 24.1px rgba(0, 0, 0, 0.061),
  0 100px 80px rgba(0, 0, 0, 0.07);
  .btn{
    background-color: rgb(54, 81, 105)!important;
    border-radius: 15px;
  }
}
.Home {
  color: white;
  
  h1 {
    color: #364f6b;
    font-size: 4rem;
    font-weight: 500;
  }
  h3{
    color: #364f6b; 
  }
  .img-fluid {
    position: absolute;
    right: 45%;
    height: 90%;
    box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.042),
      0 12.5px 10px rgba(0, 0, 0, 0.055), 0 30.1px 24.1px rgba(0, 0, 0, 0.061),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }
  .btn {
    background-image: linear-gradient(
      to left bottom,
      #ffbc00,
      #ff9c2d,
      #ff7d4d,
      #ff626a,
      #fc5185
    );
    border-radius: 15px;
    .eye-icon {
      opacity: 0;
      transform: translateX(-5);
      transition: all 0.3s ease-in;
      color: white ;
    }
  }
  .btn:hover {
    color: white;
    .eye-icon {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
